* {
	box-sizing: border-box;
}

body {
	font-family: Lucida Console, Consolas, monospace;
	margin: 0;
	 background-color:#007c77;
}


.header {
	padding: 80px;
	text-align: center;
	color: white;
	background: url(../img/header.png) no-repeat center;
    background-size: contain;
}


.header h1 {
	font-size: 40px;
	vertical-align:bottom;
}



.nav {
	margin: 0;
	list-style:none;
	background: #333;
	padding: 15px;
}

a{
  color:#5fbcb2;
  text-decoration: none;
}


.imgTag{
	width:300px;
	height:160px;
}
a:hover {
  border-bottom: 1px dashed #FFF;
}

.navbar a.right {
	float: right;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.row {  
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main {   
	flex: 70%;
	background-color: #5fbcb2;
	color: black;
	padding: 20px;
}


.profPic {
	background-color: transparent;
	height: 40vh;
	padding: 20px;
}

.icon{
	height: 30px;
}

.name{
	background-color: #5fbcb2;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align:center;
}

.footer {
	background-color:#1e2832;
	 padding: 20px;
    text-align: center;
	color: white;
}

.td-stat-left{
	vertical-align: middle;
}

p{
	vertical-align: middle;
	display:block;
}

@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width:100%;
	}
}