* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#007c77;
  
}

body{
	font-family: "Times New Roman", Times, serif;
}
div{
	background-color:white;
	
}


#container{
	margin: 0 5% 0 5%;
	height:100vh;
	
	width: 90%;
}

#bottom{
	height:70vh;
	width:100%;
	//background-color:white;
	//position: absolute;
	//top: 50%;
}

#top{
	height:30vh;
	width:100%;
	background-color:#white;
	//position: absolute;
	//top: 50%;
}

.footer{
	//clear:both;
	background-color:#1e2832;
	width:100%; 
	height:5%;
	position: absolute;
	top:100%;
	color:white;
	text-align:center;
	padding: 3% 0;
}


img{
	width: 20vw;
	height:25vh;
	background-color: white;
}

.icon{
	width: 20px;
	height:20px;
	background-color: white;
}

.col2Tbl tr td{
	background-color: white;
	text-align: center;
	
}

tr{
	vertical-align: bottom;
}


.col2Tbl{
	width: 100%;
	background-color: white;
	height:30vh;
}

.col21Tbl tr td{
	background-color: white;
	text-align: left;
	padding: .5vh;
}

.col21Tbl, .col22Tbl{
	width: 100%;
	background-color: white;
}

.tdLeft{
	width: 50%;
	text-align: right;
}

.tdLeft1{
	width: 10%;
	text-align: right;
}



.tdRight, .tdRight1{
	//width: 40%;
	text-align: left;
}

.col21Tbltr{
	vertical-align: middle;
}

.col2Tbl .td2Left{
	width: 20%;
	text-align: left;
	padding: 1vh;
}

.col22Tbl .td2Right{
	//width: 80%;
	text-align: left;
	padding: 1vh;
}

.col2Tbl .tr2{
	padding-top: 3vh;
}

.col2Tbl .tdTop{
	vertical-align: top;
}

.col22Tbl .horizontalSpace{
	padding:0;
	height: 1vh;
	background-color:#a7a7a9;
}

.name{
	background-color: #5fbcb2;
	color: white;
	text-decoration: none;
}

h1{
	font-size: 20px;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
	background-color: white;
}
